
// global
$body-bg: #121212;
$body-color: #FBFAF3;

// backgrounds
$dark: #1E1E1E;

// navbar
$navbar-dark-color: $body-color;
$navbar-dark-hover-color: rgba($body-color, .75);
$navbar-dark-active-color: $body-color;

// colours
$min-contrast-ratio: 3;
$primary: #A370F7;
$danger: #dc3545;

// alerts
$alert-bg-scale: 0;
$alert-border-scale: 0;
$alert-color-scale: -100;

@import "node_modules/bootstrap/scss/bootstrap";